.kontener{
    width: 200px;
    margin: auto;  /*wysrodkowywuje*/

}

.blok1 {
    background-color: aquamarine;
    border: 1px solid red;
}

.blok2 {
    background-color: aqua;
    border: 1px solid red;
}

.inline1 {
    background-color: aliceblue;
    border: 1px solid red;
}

.inline2 {
    background-color: blanchedalmond;
    border: 1px solid red;
}